// -----------------------------------------------------------------------------
// This file contains all styles related to the nav of the site/application.
// -----------------------------------------------------------------------------

.nav{
    //بعد که میخواستی کد 
    //js
    //رو بنویسی 
    //display: none
    //بردار
    // display:none !important;
    position: fixed;
    top: -20%;
    background-color: #fff;
    width: 100%;
    padding: 30px 45px;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
    overflow: hidden;
    z-index: 22;
    height: 12%;
    transition: 0.6s;


    .nav__menu_nav{
        list-style: none;
    }

    .nav__logo{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .nav-link{
        @include links(14px,$Cblack,none);
        font-family: $Poppins;
        &:hover{
            color: #afafaf !important;
        }
    }

    @include respon("xm"){
        .nav__menu_nav{
            margin-top: 40px;
            text-align: center; 
            padding: 0;
            margin: 30px 0 0 0;
            width: 100%;
        }

        .nav-item{
            border-top: 1px solid #f7f7f7;
            line-height: 45px;
        }

        .nav__logo_menu-phone{
            display: block;
            font-size: 23px;
        }
    }

    @include respon("md"){
        display: flex;
        justify-content: space-between;
        height: auto !important;
        .nav__menu{
            display: flex;
            align-items: center;
        }

        .nav__menu_nav{
            display: flex;
            align-items: center;
            margin-top: 0;
        }

        .nav-item{
            display: inline;
            margin-right: 15px;
        }

        .nav__logo div{
            display: flex;
            align-items: flex-end;
        }

        .nav__logo_menu-phone{
            display: none;
        }

        .nav-item{
            border-top: 0;
            line-height: 0;
        }
    }
}