// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//color:
$Cblack: #000000;
$Csection: rgb(245, 245, 245);

//font-family:
$Poppins: 'Poppins', sans-serif;